In [7]:
import pandas as pd

df_A = pd.read_excel (r'C:\Users\Rkuppusami120932\Desktop\Assignment\DSC-630\WEEK1\data\SeriesReport-20190604000331_2e6597.xlsx', sheet_name='BLS Data Series')

#df_B = pd.read_excel (r'Path where the Excel file is stored\File name.xlsx', sheet_name='your Excel sheet name')
print (df_A)

#file1 <- 'C:/Users/Rkuppusami120932/Desktop/Assignment/DSC-630/WEEK1/data/SeriesReport-20190604000331_2e6597.xlsx'
#file2 <- 'C:/Users/Rkuppusami120932/Desktop/Assignment/DSC-630/WEEK1/data/SeriesReport-20190604000335_96a2f0.xlsx'

          American Time Use  \
0       Original Data Value
1                       NaN
2                Series Id:
3   Not seasonally adjusted
4             Series Title:
5         Type of estimate:
6                 Activity:
7             Type of Days:
8                Age Group:
9                   Gender:
10                   Years:
11                      NaN
12                     Year
13                     2007
14                     2008
15                     2009
16                     2010
17                     2011
18                     2012
19                     2013
20                     2014
21                     2015
22                     2016
23                     2017

                                           Unnamed: 1 Unnamed: 2  \
0                                                 NaN        NaN
1                                                 NaN        NaN
2                                  TUU10101AA01009497        NaN
3                                                 NaN        NaN
4   Avg hrs per day - Household activities (includ...        NaN
5                               Average hours per day        NaN
6              Household activities (includes travel)        NaN
7                                            All days        NaN
8                                   15 years and over        NaN
9                                                 Men        NaN
10                                       2007 to 2017        NaN
11                                                NaN        NaN
12                                             Period   Estimate
13                                             Annual       1.43
14                                             Annual        1.3
15                                             Annual       1.33
16                                             Annual       1.42
17                                             Annual       1.37
18                                             Annual       1.29
19                                             Annual       1.34
20                                             Annual       1.38
21                                             Annual       1.43
22                                             Annual       1.38
23                                             Annual       1.41

        Unnamed: 3  Unnamed: 4  Unnamed: 5
0              NaN         NaN         NaN
1              NaN         NaN         NaN
2              NaN         NaN         NaN
3              NaN         NaN         NaN
4              NaN         NaN         NaN
5              NaN         NaN         NaN
6              NaN         NaN         NaN
7              NaN         NaN         NaN
8              NaN         NaN         NaN
9              NaN         NaN         NaN
10             NaN         NaN         NaN
11             NaN         NaN         NaN
12  Standard Error         NaN         NaN
13           0.033         NaN         NaN
14           0.033         NaN         NaN
15            0.03         NaN         NaN
16           0.037         NaN         NaN
17           0.028         NaN         NaN
18           0.031         NaN         NaN
19           0.033         NaN         NaN
20           0.036         NaN         NaN
21            0.04         NaN         NaN
22           0.034         NaN         NaN
23           0.034         NaN         NaN

In [12]:
to_drop=['American Time Use']
df_A.drop(to_drop, inplace=True, axis=1)

In [13]:
df_A.columns

Index(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], dtype='object')

In [9]:
type(df_A)

pandas.core.frame.DataFrame

In [14]:
print(df_A)

                                           Unnamed: 1 Unnamed: 2  \
0                                                 NaN        NaN
1                                                 NaN        NaN
2                                  TUU10101AA01009497        NaN
3                                                 NaN        NaN
4   Avg hrs per day - Household activities (includ...        NaN
5                               Average hours per day        NaN
6              Household activities (includes travel)        NaN
7                                            All days        NaN
8                                   15 years and over        NaN
9                                                 Men        NaN
10                                       2007 to 2017        NaN
11                                                NaN        NaN
12                                             Period   Estimate
13                                             Annual       1.43
14                                             Annual        1.3
15                                             Annual       1.33
16                                             Annual       1.42
17                                             Annual       1.37
18                                             Annual       1.29
19                                             Annual       1.34
20                                             Annual       1.38
21                                             Annual       1.43
22                                             Annual       1.38
23                                             Annual       1.41

        Unnamed: 3  Unnamed: 4  Unnamed: 5
0              NaN         NaN         NaN
1              NaN         NaN         NaN
2              NaN         NaN         NaN
3              NaN         NaN         NaN
4              NaN         NaN         NaN
5              NaN         NaN         NaN
6              NaN         NaN         NaN
7              NaN         NaN         NaN
8              NaN         NaN         NaN
9              NaN         NaN         NaN
10             NaN         NaN         NaN
11             NaN         NaN         NaN
12  Standard Error         NaN         NaN
13           0.033         NaN         NaN
14           0.033         NaN         NaN
15            0.03         NaN         NaN
16           0.037         NaN         NaN
17           0.028         NaN         NaN
18           0.031         NaN         NaN
19           0.033         NaN         NaN
20           0.036         NaN         NaN
21            0.04         NaN         NaN
22           0.034         NaN         NaN
23           0.034         NaN         NaN