# Assignment 4.2 Calculate Document Similarity
## By Chase Lemons


###### Premise

This exercise using the Cars Dataset. For this exercise you will need to choose what you think will be most effective in determining what from our documents that make up the corpus is similar or dissimilar. Refer to figure 6-2 on page 99 in the Applied Text Analysis with Python textbook. You will use choose 5 features/Articles to calculate the document similarity. Report the similarity between the documents for each distance measure.

A. Jaccard Distance

You can calculate the Jaccard distance between two documents by calculating the number of unique words that appear in both documents and dividing it by the total number of unique words in both documents. The following is a simple function to calculate the Jaccard distance between two sets of words.


B. Cosine similarity w/Tf-idf

For the same five articles, compute the distance between the documents using the cosine similarity between the documents’ TF-idf vectors.

###### Premise Response

This data set has many many many files. However, the majority of the files are image files. There are three files with data in them anno_test, anno_train, and names. So for part a we will test the jaccard distance function on the names. 

For part B, we will use the anno_train dataset to calculate cosine similarity between 5 images.

###### Data Import

Cars Data Set
https://www.kaggle.com/jutrera/stanford-car-dataset-by-classes-folder

In [22]:
def jaccard_distance(d1_words,d2_words):
    d1_unique = set(d1_words)
    d2_unique = set(d2_words)
    num_both = len(d1_unique.intersection(d2_unique))
    num_total = len(d1_unique.union(d2_unique))
    return num_both/num_total

In [1]:
import pandas as pd

In [19]:
with open("names.csv") as f:
    car_names = f.read().splitlines()

###### Task A: Jaccard Distance

You can calculate the Jaccard distance between two documents by calculating the number of unique words that appear in both documents and dividing it by the total number of unique words in both documents. The following is a simple function to calculate the Jaccard distance between two sets of words.

In [23]:
name_1 = jaccard_distance(car_names[0],car_names[1])
name_2 = jaccard_distance(car_names[1],car_names[2])
name_3 = jaccard_distance(car_names[2],car_names[3])
name_4 = jaccard_distance(car_names[3],car_names[4])
name_5 = jaccard_distance(car_names[4],car_names[5])

print("The Jaccard Distance between the first and second name in the name dataset:", name_1 )
print("The Jaccard Distance between the second and third name in the name dataset:", name_2 )
print("The Jaccard Distance between the third and fourth name in the name dataset:", name_3 )
print("The Jaccard Distance between the fourth and fifth name in the name dataset:", name_4 )
print("The Jaccard Distance between the fifth and sixth name in the name dataset:", name_5 )

The Jaccard Distance between the first and second name in the name dataset: 0.45454545454545453
The Jaccard Distance between the second and third name in the name dataset: 0.875
The Jaccard Distance between the third and fourth name in the name dataset: 0.631578947368421
The Jaccard Distance between the fourth and fifth name in the name dataset: 0.55
The Jaccard Distance between the fifth and sixth name in the name dataset: 0.5714285714285714

By looking at six different names and comparing them to the next one. We can see that the second and third name had the most similarity when using Jaccard Distance.

###### Task B: Cosine similarity w/Tf-idf

For the same five articles, compute the distance between the documents using the cosine similarity between the documents’ TF-idf vectors.

In [37]:
from numpy import dot
from numpy.linalg import norm


def cos_sim(a,b):
    calc = dot(a, b)/(norm(a)*norm(b))
    return calc

In [25]:
anno_train = pd.DataFrame.from_csv("anno_train.csv", sep=',', header = None)
anno_train.head()

C:\Users\c12003\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

             1    2     3     4    5
0
00001.jpg   39  116   569   375   14
00002.jpg   36  116   868   587    3
00003.jpg   85  109   601   381   91
00004.jpg  621  393  1484  1096  134
00005.jpg   14   36   133    99  106

In [41]:
anno_arrays = anno_train.values.tolist()

anno_comparison_1 = cos_sim(anno_arrays[0],anno_arrays[1])
anno_comparison_2 = cos_sim(anno_arrays[1],anno_arrays[2])
anno_comparison_3 = cos_sim(anno_arrays[2],anno_arrays[3])
anno_comparison_4 = cos_sim(anno_arrays[3],anno_arrays[4])
anno_comparison_5 = cos_sim(anno_arrays[4],anno_arrays[5])

print("The Cosine Similarity between the first and second record in the anno_train dataset:", anno_comparison_1 )
print("The Cosine Similarity between the second and third record in the anno_train dataset:", anno_comparison_2 )
print("The Cosine Similarity between the third and fourth record in the anno_train dataset:", anno_comparison_3 )
print("The Cosine Similarity between the fourth and fifth record in the anno_train dataset:", anno_comparison_4 )
print("The Cosine Similarity between the fifth and sixth record in the anno_train dataset:", anno_comparison_5 )

The Cosine Similarity between the first and second record in the anno_train dataset: 0.9978348449713464
The Cosine Similarity between the second and third record in the anno_train dataset: 0.9878321277252321
The Cosine Similarity between the third and fourth record in the anno_train dataset: 0.9746643446599363
The Cosine Similarity between the fourth and fifth record in the anno_train dataset: 0.859120923660741
The Cosine Similarity between the fifth and sixth record in the anno_train dataset: 0.8773740578793756